  .tab-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  .tab-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    .city-card {
      width: calc(50% - 8px);
      box-sizing: border-box;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  